.footer {
    background-color: black;
}

.copyright {
    color: white;
    padding-bottom: 16px;
}

.link {
    color: white;
}

.links {
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}